# version: '3'

x-common-commands:
  gzserver_command: &gzserver_command >
    bash -c "
    source /home/agent/ros2_ws/install/setup.bash && ros2 launch turtlebot3_gazebo gazebo_server.launch.py verbose:=true
    "

  robot_entrypoint: &robot_entrypoint >
    bash -c "
    cd ~/scripts && ./start_turtlebot.sh
    "
services:
  docker-stats-collector:
    image: docker-stats-collector:latest
    container_name: docker-stats-collector
    ports:
      - "6666:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
      - ./dockerfiles/docker-stats-collector/app:/app
      - ./experiments:/experiments
    restart: unless-stopped
    networks:
      - quorum-dev-quickstart

  gazebo-server:
    image: turtlebot3-simulation-ros2
    container_name: gazebo-server
    hostname: gazebo-server
    environment:
      - ROS_DOMAIN_ID=42   
      - GAZEBO_AUDIO_DEVICE=none
    ports:
      - "11345:11345"
    tty: true
    stdin_open: true
    command: *gzserver_command
    networks:
      - robots-net

  gazebo-client:
    image: gazebo-vnc:latest
    container_name: gazebo-client
    hostname: gazebo-client
    environment:
      - ROS_DOMAIN_ID=42
      - GAZEBO_MASTER_URI=http://gazebo-server:11345    
    depends_on:
      - gazebo-server    
    ports:
      - "6080:80"
    security_opt:
      - seccomp=unconfined
    restart: unless-stopped
    networks:
      - robots-net

  attestation-chain-display:
    container_name: attestation-chain-display
    image: attestation-sidecar:latest
    environment:
      - CONFIG_PATH=/config/secaas.json
      - CHAIN_DISPLAY=TRUE
      - CHAIN_DISPLAY_N=10
      - CHAIN_DISPLAY_SEC=5
    volumes:
      - "./config/:/config:rw"
      - "./smart-contracts:/smart-contracts"
      - ./dockerfiles/attestation-sidecar/app/main.py:/app/main.py
      - ./dockerfiles/attestation-sidecar/app/blockchain_manager.py:/app/blockchain_manager.py
      - ./dockerfiles/attestation-sidecar/app/utils.py:/app/utils.py
    networks:
      - quorum-dev-quickstart

  secaas:
    container_name: secaas
    image: secaas:latest
    environment:
      - CONFIG_PATH=/config/secaas.json
      - AUTO_START=${AUTO_START}
      - EXPORT_RESULTS=${EXPORT_RESULTS}
      - RESULTS_DIR=${RESULTS_DIR}
      - EVENT_CONFIRMATIONS=${EVENT_CONFIRMATIONS}
      - EVENT_POLL_INTERVAL=${EVENT_POLL_INTERVAL}
      - EVENT_BATCH_SIZE=${EVENT_BATCH_SIZE}
    ports:
      - "8080:8080"
    volumes:
      - "./config/:/config:rw"
      - "./experiments/:/experiments:rw"
      - "./smart-contracts:/smart-contracts"
      - ./dockerfiles/secaas/app/main.py:/app/main.py
      - ./dockerfiles/secaas/app/blockchain_manager.py:/app/blockchain_manager.py
      - ./dockerfiles/secaas/app/utils.py:/app/utils.py
      - ./dockerfiles/secaas/app/oracle_verifier.py:/app/oracle_verifier.py
      - ./checkpoints/secaas:/checkpoints

    networks:
      - quorum-dev-quickstart

  robot1:
    image: turtlebot3-simulation-ros2
    container_name: robot1
    hostname: robot1
    environment:
        - ROS_DOMAIN_ID=42
        - GAZEBO_MASTER_URI=http://gazebo-server:11345
        - NAMESPACE=robot1
        - X_POSE=0
        - Y_POSE=0
    command: *robot_entrypoint
    depends_on:
      - gazebo-server
    stdin_open: true
    tty: true
    networks:
      - robots-net

  robot1-sidecar:
    container_name: robot1-sidecar
    image: attestation-sidecar:latest
    environment:
      - CONFIG_PATH=/config/robot1.json
      - EXPORT_RESULTS=${EXPORT_RESULTS}
      - RESULTS_DIR=${RESULTS_DIR}
      - USE_REDIS=${USE_REDIS}
      - BOOTSTRAP=${BOOTSTRAP}
      - AUTO_START=${AUTO_START}
      - PROC_COMM=robot_state_pub
      - MEMORY_STORAGE_FILE=/measurements/robot1_measurements.json
      - THRESHOLD=${PROVER_THRESHOLD}
      - EVENT_CONFIRMATIONS=${EVENT_CONFIRMATIONS}
      - EVENT_POLL_INTERVAL=${EVENT_POLL_INTERVAL}
      - EVENT_BATCH_SIZE=${EVENT_BATCH_SIZE}
    ports:
      - "8081:8080"
    volumes:
      - ./config/robot1.json:/config/robot1.json
      - ./smart-contracts:/smart-contracts
      - ./dockerfiles/attestation-sidecar/app/main.py:/app/main.py
      - ./dockerfiles/attestation-sidecar/app/blockchain_manager.py:/app/blockchain_manager.py
      - ./dockerfiles/attestation-sidecar/app/utils.py:/app/utils.py
      - ./dockerfiles/attestation-sidecar/app/prover.py:/app/prover.py
      - ./dockerfiles/attestation-sidecar/app/verifier.py:/app/verifier.py
      - ./dockerfiles/attestation-sidecar/app/compute_hash.py:/app/compute_hash.py
      - ./experiments/:/experiments:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - ./measurements/:/measurements:rw
      - ./binaryfiles/:/binaryfiles:rw
      - ./checkpoints/robot1-sidecar:/checkpoints

    pid: "container:robot1"
    depends_on:
      - robot1
    cap_add:
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: '0.4'
    networks:
      - quorum-dev-quickstart

  robot2:
    image: turtlebot3-simulation-ros2
    container_name: robot2
    hostname: robot2
    environment:
        - ROS_DOMAIN_ID=42
        - GAZEBO_MASTER_URI=http://gazebo-server:11345
        - NAMESPACE=robot2
        - X_POSE=5
        - Y_POSE=0
    command: *robot_entrypoint
    depends_on:
      - gazebo-server
    stdin_open: true
    tty: true
    networks:
      - robots-net

  robot2-sidecar:
    container_name: robot2-sidecar
    image: attestation-sidecar:latest
    environment:
      - CONFIG_PATH=/config/robot2.json
      - EXPORT_RESULTS=${EXPORT_RESULTS}
      - RESULTS_DIR=${RESULTS_DIR}
      - USE_REDIS=${USE_REDIS}
      - BOOTSTRAP=${BOOTSTRAP}
      - AUTO_START=${AUTO_START}
      - PROC_COMM=robot_state_pub
      - MEMORY_STORAGE_FILE=/measurements/robot2_measurements.json
      - THRESHOLD=${PROVER_THRESHOLD}
      - EVENT_CONFIRMATIONS=${EVENT_CONFIRMATIONS}
      - EVENT_POLL_INTERVAL=${EVENT_POLL_INTERVAL}
      - EVENT_BATCH_SIZE=${EVENT_BATCH_SIZE}
    ports:
      - "8082:8080"
    volumes:
      - ./config/robot2.json:/config/robot2.json
      - ./smart-contracts:/smart-contracts
      - ./dockerfiles/attestation-sidecar/app/main.py:/app/main.py
      - ./dockerfiles/attestation-sidecar/app/blockchain_manager.py:/app/blockchain_manager.py
      - ./dockerfiles/attestation-sidecar/app/utils.py:/app/utils.py
      - ./dockerfiles/attestation-sidecar/app/prover.py:/app/prover.py
      - ./dockerfiles/attestation-sidecar/app/verifier.py:/app/verifier.py
      - ./dockerfiles/attestation-sidecar/app/compute_hash.py:/app/compute_hash.py
      - ./experiments/:/experiments:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - ./measurements/:/measurements:rw
      - ./binaryfiles/:/binaryfiles:rw
      - ./checkpoints/robot2-sidecar:/checkpoints
    pid: "container:robot2"
    depends_on:
      - robot2
    cap_add:
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: '0.4'
    networks:
      - quorum-dev-quickstart

  robot3:
    image: turtlebot3-simulation-ros2
    container_name: robot3
    hostname: robot3
    environment:
        - ROS_DOMAIN_ID=42
        - GAZEBO_MASTER_URI=http://gazebo-server:11345
        - NAMESPACE=robot2
        - X_POSE=10
        - Y_POSE=15
    command: *robot_entrypoint
    depends_on:
      - gazebo-server
    stdin_open: true
    tty: true
    networks:
      - robots-net
  robot3-sidecar:
    container_name: robot3-sidecar
    image: attestation-sidecar:latest
    environment:
      - CONFIG_PATH=/config/robot3.json
      - EXPORT_RESULTS=${EXPORT_RESULTS}
      - RESULTS_DIR=${RESULTS_DIR}
      - USE_REDIS=${USE_REDIS}
      - BOOTSTRAP=${BOOTSTRAP}
      - AUTO_START=${AUTO_START}
      - PROC_COMM=robot_state_pub
      - MEMORY_STORAGE_FILE=/measurements/robot1_measurements.json
      - THRESHOLD=${PROVER_THRESHOLD}
      - EVENT_CONFIRMATIONS=${EVENT_CONFIRMATIONS}
      - EVENT_POLL_INTERVAL=${EVENT_POLL_INTERVAL}
      - EVENT_BATCH_SIZE=${EVENT_BATCH_SIZE}
    ports:
      - "8083:8080"
    volumes:
      - ./config/robot3.json:/config/robot3.json
      - ./smart-contracts:/smart-contracts
      - ./dockerfiles/attestation-sidecar/app/main.py:/app/main.py
      - ./dockerfiles/attestation-sidecar/app/blockchain_manager.py:/app/blockchain_manager.py
      - ./dockerfiles/attestation-sidecar/app/utils.py:/app/utils.py
      - ./dockerfiles/attestation-sidecar/app/prover.py:/app/prover.py
      - ./dockerfiles/attestation-sidecar/app/verifier.py:/app/verifier.py
      - ./dockerfiles/attestation-sidecar/app/compute_hash.py:/app/compute_hash.py
      - ./experiments/:/experiments:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - ./measurements/:/measurements:rw
      - ./binaryfiles/:/binaryfiles:rw
      - ./checkpoints/robot3-sidecar:/checkpoints 
    pid: "container:robot3"
    depends_on:
      - robot3
    cap_add:
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: '0.4'
    networks:
      - quorum-dev-quickstart

  robot4:
    image: turtlebot3-simulation-ros2
    container_name: robot4
    hostname: robot4
    environment:
        - ROS_DOMAIN_ID=42
        - GAZEBO_MASTER_URI=http://gazebo-server:11345
        - NAMESPACE=robot4
        - X_POSE=40
        - Y_POSE=55
    command: *robot_entrypoint
    depends_on:
      - gazebo-server
    stdin_open: true
    tty: true
    networks:
      - robots-net
  robot4-sidecar:
    container_name: robot4-sidecar
    image: attestation-sidecar:latest
    environment:
      - CONFIG_PATH=/config/robot4.json
      - EXPORT_RESULTS=${EXPORT_RESULTS}
      - RESULTS_DIR=${RESULTS_DIR}
      - USE_REDIS=${USE_REDIS}
      - BOOTSTRAP=${BOOTSTRAP}
      - AUTO_START=${AUTO_START}
      - PROC_COMM=robot_state_pub
      - MEMORY_STORAGE_FILE=/measurements/robot4_measurements.json
      - THRESHOLD=${PROVER_THRESHOLD}
      - EVENT_CONFIRMATIONS=${EVENT_CONFIRMATIONS}
      - EVENT_POLL_INTERVAL=${EVENT_POLL_INTERVAL}
      - EVENT_BATCH_SIZE=${EVENT_BATCH_SIZE}
    ports:
      - "8084:8080"
    volumes:
      - ./config/robot4.json:/config/robot4.json
      - ./smart-contracts:/smart-contracts
      - ./dockerfiles/attestation-sidecar/app/main.py:/app/main.py
      - ./dockerfiles/attestation-sidecar/app/blockchain_manager.py:/app/blockchain_manager.py
      - ./dockerfiles/attestation-sidecar/app/utils.py:/app/utils.py
      - ./dockerfiles/attestation-sidecar/app/prover.py:/app/prover.py
      - ./dockerfiles/attestation-sidecar/app/verifier.py:/app/verifier.py
      - ./dockerfiles/attestation-sidecar/app/compute_hash.py:/app/compute_hash.py
      - ./experiments/:/experiments:rw
      - /var/run/docker.sock:/var/run/docker.sock
      - ./measurements/:/measurements:rw
      - ./binaryfiles/:/binaryfiles:rw
      - ./checkpoints/robot4-sidecar:/checkpoints
    pid: "container:robot4"
    depends_on:
      - robot4
    cap_add:
      - SYS_PTRACE
    deploy:
      resources:
        limits:
          cpus: '0.4'
    networks:
      - quorum-dev-quickstart
  db:
    image: postgres:12
    container_name: db
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - ./postgresql_data:/var/lib/postgresql/data/pgdata
    environment:
      - PGDATA=${PGDATA}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - quorum-dev-quickstart

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - quorum-dev-quickstart

  # secaas-wrapper:
  #   container_name: secaas-wrapper
  #   build:
  #     context: dockerfiles/secaas-wrapper
  #   ports:
  #     - "8001:8000"
  #   depends_on:
  #     - db
  #     - redis
  #   volumes:
  #     - ./dockerfiles/secaas-wrapper:/code
  #     - ./jsonfiles/:/jsonfiles
  #     - ./binaryfiles:/binaryfiles
  #   restart: unless-stopped
  #   environment:
  #     - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  #     - POSTGRES_USER=${POSTGRES_USER}
  #     - POSTGRES_DB=${POSTGRES_DB}
  #     - POSTGRES_PORT=${POSTGRES_PORT}
  #     - POSTGRES_HOST=db
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #   command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
  #   networks:
  #     - quorum-dev-quickstart

networks:
  quorum-dev-quickstart:
    external: true

  robots-net:
    driver: bridge
    internal: true
    name: robots-net